@import url('https://fonts.googleapis.com/css?family=Roboto:100, 200, 300, 400, 500, 600, 700|Exo:100,200,300,400,500,600,700');

/*Navbarstyles -----------------------------------------------------*/

/*main styles ------------------------------------------------------*/

.break {
    padding: 15px;
    margin: 10px   ;
}

.halfbreak {
    padding: 7.5px;
    margin: 5px
}

.carousel {
    background-size: cover;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


.page-header {
    padding: 15px 12px;
    margin: 5 2 5 2;
    display: block;
    background-color: #cccccc;
    font-family: "Roboto", sans-serif;
}


/*About Styles-----------------------------------------------------*/

.history-2 {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
}

.aboutcol {
    flex: 25%;
    padding: 20px;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
}

.cent {
    float: left;
    max-width: 100%;
    height: auto;

}

.contact-footer {
    
}

@media screen and (max-width:992px) {
    .aboutcol {
        flex: 50%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .aboutcol {
        flex: 100%;
        flex-wrap: wrap;
    }
}
/*Discog styles --------------------------------------------*/


/*contact us styles ----------------------------------------*/

.input-form {
    margin: 2 5 5 2;
    border: dashed;
    border-color: black;
    padding: 20px;

}

.quotes-container {
    margin: 4;
    padding: 15px;
    font-family: "Roboto", sans-serif;

}

.quotecol {
    padding: 20px;
}

.quote {
    
}

@media screen and (max-width:992px) {
    .quotecol {
        flex: 50%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .quotecol {
        flex: 100%;
        flex-wrap: wrap;
    }
}
/*Events styles --------------------------------------------*/


/*footer styles --------------------------------------------*/

.learn-more {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
