@import url('https://fonts.googleapis.com/css?family=Roboto:100, 200, 300, 400, 500, 600, 700|Exo:100,200,300,400,500,600,700');

/*Navbarstyles -----------------------------------------------------*/

li a {
    color: #9b60ff;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #6b14ff;
    color: #9b60ff;
}

.navbar-light {
    background-color: #360A7F;
}


/*main styles ------------------------------------------------------*/

body {
    background-color: #5610CC !important;
    color: #9B60FF !important;
}

.break {
    background-color: #6b14ff;
    color: #9b60ff;
    padding: 15px;
}

.halfbreak {
    padding: 7.5px;
    background-color: #9b60ff;

}

.carousel {
    background-size: cover;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5610CC;
}


.page-header {
    padding: 15px 12px;
    margin: 5 2 5 2;
    display: block;
    background-color: #6b14ff;
    font-family: "Roboto", sans-serif;
    color: #9B60FF;
}


/*About Styles-----------------------------------------------------*/

.history-2 {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    color: #9B60FF;
}

.aboutcol {
    flex: 25%;
    padding: 20px;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
    color: #9B60FF;
    background-color: #4E307F;
}

.cent {
    float: left;
    max-width: 100%;
    height: 240;
    width: 320;
    color: #9B60FF;
}

.contact-footer {
    color: white;
    background-color: #6b14ff;
}

@media screen and (max-width:992px) {
    .aboutcol {
        flex: 50%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .aboutcol {
        flex: 100%;
        flex-wrap: wrap;
    }
}

/*Discog styles --------------------------------------------*/

.mp4 {

}

.disco {}

/*contact us styles ----------------------------------------*/

.input-form {
    margin: 2 5 5 2;
    border-color: black;
    padding: 20px;

}

.quotes-container {
    margin: 4;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    color: #9B60FF;
    background-color: #5610CC;
}

.quotecol {
    padding: 20px;
    color: #9B60FF;
}

.quote {
    color: #9B60FF;
}

.btn-primary {
    background-color: #9B60FF !important;
}

.form-control {
    background-color: #6B14FF;
    color: #9B60FF;
}

.box {
    background-color: #6B14FF;
    color: #9B60FF;
}

@media screen and (max-width:992px) {
    .quotecol {
        flex: 50%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .quotecol {
        flex: 100%;
        flex-wrap: wrap;
    }
}

/*Events styles --------------------------------------------*/

.date {}

.loc {}

.btn-success {
    background-color: #5610CC;
    color: #9B60FF;
}

/*footer styles --------------------------------------------*/

.learn-more {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.footer-details {
    background-color: #5610cc;
}


.f-wrapper {
    background-color: #5610cc;
    color: #9b60ff;
}
